<html>
    <head>
        <title>Animal Disease Registration</title>
    </head>
    <body>
        <div>
            <h1>Animal Disease Registration Website</h1>
        </div>

        <div>

            <h2><a href="/">Disease Registration</a></h2>
            <p>On this website a veterinarians can registrate animals who are diagnosed as being sick.</p>
            <p>Supported animals:</p>
            <ul><li>Chickens</li><li>Fowls</li><li>Ducks</li><li>Turkeys</li></ul>
        </div>
    </body>
</html>